[Unit]
Description=CM4all Lukko
Wants=network.target
After=network.target

# the spawn-accessory daemon provides services for our spawner
Wants=cm4all-spawn-accessory.socket
After=cm4all-spawn-accessory.socket

# the spawn-reaper cleans up empty cgroups
Wants=cm4all-spawn-reaper.service

# require at least Linux kernel 5.12
AssertKernelVersion=>=5.12

[Service]
Type=notify
ExecStart=/usr/sbin/cm4all-lukko
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

# run as non-root user so it can't read root-owned files
User=cm4all-lukko

# ... but keep all capabilities because some are needed for
# initialization (dropped afterwards) and the others are needed by the
# spawner
AmbientCapabilities=~

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=10ms

# 1 MB is more than enough; the default is 8 MB, which is excessive
LimitSTACK=1M

[Install]
WantedBy=multi-user.target
