---
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'debian/**'
      - 'doc/**'
      - 'subprojects/**'
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'debian/**'
      - 'doc/**'
      - 'subprojects/**'
    branches:
      - master

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - id: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            openssh-client openssh-sftp-server \
            dropbear-bin \
            python3-paramiko \
            ruby-net-ssh \
            meson \
            ccache \
            nlohmann-json3-dev \
            libfmt-dev \
            libgtest-dev \
            libcap-dev \
            libseccomp-dev \
            libssl-dev \
            libsystemd-dev \
            libavahi-client-dev \
            libmd-dev \
            libsodium-dev

      - id: cache-ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{github.job}}

      - name: Configure
        run: |
          meson setup \
            -Dauto_features=enabled \
            -Ddocumentation=disabled \
            -Dtest=true \
            -Dwrap_mode=nofallback \
            output

      - name: Build
        run: ninja -C output -v

      - name: Unit Tests
        run: meson test -C output --print-errorlogs

      - name: Connect Tests
        run: ./test/test_lukko.py output

  mini:
    runs-on: ubuntu-24.04
    steps:
      - id: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            meson \
            ccache \
            libfmt-dev \
            libgtest-dev \
            libsodium-dev

      - id: cache-ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{github.job}}

      - name: Configure
        run: |
          meson setup \
            -Dauto_features=disabled \
            -Dtest=true \
            -Dtranslation=false \
            -Dcontrol=false \
            -Dpond=false \
            -Dwrap_mode=nofallback \
            output

      - name: Build
        run: ninja -C output -v

      - name: Unit Tests
        run: meson test -C output --print-errorlogs
